# Run E2E tests for pull requests labeled 'e2e'
name: "PR E2E on label"

on:
  pull_request:
    types: [labeled, synchronize]
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  e2e-on-label:
    if: ${{ github.event_name == 'workflow_dispatch' || contains(github.event.pull_request.labels.*.name, 'e2e') }}
    uses: ./.github/workflows/e2e.yml
    secrets: inherit
